h1 {
    color: crimson;
    font-family: sans-serif;
    margin: 0 0 10px 0;

}
h2 {
    color: crimson;
    font-family: sans-serif;
    margin: 0px 15px 0px 0px;
    border-bottom: 4px;
    border-bottom-style: dotted;
    border-bottom-color: crimson;
}
h3 {
    color: crimson;
    font-family: sans-serif;
}
.overview {
    font-style: italic;
}
header{
    background-color: #eee;
    padding: 10px;
    border-bottom: solid 1px silver;
    
}
footer{
    background-color: #eee;
    padding: 10px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: silver;


}
footer h3 {
    margin-top: 0px;
}
body {
    border:350;
    padding: 10px;
    margin: 0;
}
.numbers-box {
        border: solid 5px black;
        height: 60px;
        width: 100px;
        font-size: 20px;
        position: fixed;
        margin: right 100px;
        bottom: 80px;
        font-family: monospace;
        text-align: center
} 
    .color-box-1 {
            background-color: yellowgreen;
            bottom: 5px;
            right: 5px;               
  }
    .color-box-2 {
            background-color: orange;
            bottom: 1px;
            right: 5px;     
  }
    .color-box-3 {
            background-color: skyblue;
            bottom: 5px;
            right: 5px;
  }
    .color-box-4 {
            background-color: violet;
            bottom: 5px;
            right: 5px;
  }